In [18]:
import pandas as pd
import numpy as np

## How to read File of different format

#### Read data from CSV file

In [19]:
df= pd.read_csv("data.csv")
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston
4    Emily   35      Phoenix

#### Read data from excel file

In [ ]:
df= pd.read_excel("")
print(df)

#### Read data from JSON file

In [ ]:
df= pd.read_json("")
print(df)

## How to save file in different format

In [17]:
data={
    "Name": ['Harsh', 'Atif','Prohit','Shubhi','Manu'],
    "Age":['24','45','89','12','90'],
    "City":["Jhansi","Mahobha","Lahore","Allahbad","Knowhere"]
}

df= pd.DataFrame(data)
print(df)


# df.to_csv("output.csv", index=False)
# df.to_excel("output.xlsx", index=False)
df.to_json("output.json", index=False)

     Name Age      City
0   Harsh  24    Jhansi
1    Atif  45   Mahobha
2  Prohit  89    Lahore
3  Shubhi  12  Allahbad
4    Manu  90  Knowhere

### Find out shape of your File

In [13]:
'''
1- How big is your dataset
2- What are the names of columns

shapes and columns
'''

data={
    "Name":['Harsh','Dev','Sachin','Harshit','Rahul','Krrish'],
    "Age":[34,65,34,23,98,91],
    "Salary":[10000,15000,25000,67000,45000,90000],
    "performance":[56,87,23,98,54,23]
}

df=pd.DataFrame(data)
print(f'Shape: {df.shape}')
print(f'Column name: {df.columns}')

Shape: (6, 4)
Column name: Index(['Name', 'Age', 'Salary', 'performance'], dtype='object')

### Display of Rows of data

In [9]:
df= pd.read_json("sample_data.json")

print("Display 10 rows of first")
print(df.head())

print("Display 10 rows of last")
print(df.tail())

Display 10 rows of first
     Name  Age      City
0   Harsh   24    Jhansi
1    Atif   45   Mahobha
2  Prohit   89    Lahore
3  Shubhi   12  Allahbad
4    Manu   90  Knowhere
Display 10 rows of last
    Name  Age       City
5  Aanya   31       Pune
6  Rohan   27      Delhi
7   Zoya   36     Mumbai
8  Imran   52  Hyderabad
9  Kiara   19  Bangalore

#### Get info about Data

In [21]:
df= pd.read_json("sample_data.json")

print("Displaying the info of Data set:")
print(df.info())

Displaying the info of Data set:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   City    10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes
None

#### Descriptive Statictics

In [22]:
data={
    "Name":['Harsh','Dev','Sachin','Harshit','Rahul','Krrish'],
    "Age":[34,65,34,23,98,91],
    "Salary":[10000,15000,25000,67000,45000,90000],
    "performance":[56,87,23,98,54,23]
}

df=pd.DataFrame(data)
print("Sample Dataframe")
print(df)

print()

print("Descriptive Statictics")
print(df.describe())

Sample Dataframe
      Name  Age  Salary  performance
0    Harsh   34   10000           56
1      Dev   65   15000           87
2   Sachin   34   25000           23
3  Harshit   23   67000           98
4    Rahul   98   45000           54
5   Krrish   91   90000           23

Descriptive Statictics
             Age        Salary  performance
count   6.000000      6.000000     6.000000
mean   57.500000  42000.000000    56.833333
std    31.979681  31559.467676    31.314001
min    23.000000  10000.000000    23.000000
25%    34.000000  17500.000000    30.750000
50%    49.500000  35000.000000    55.000000
75%    84.500000  61500.000000    79.250000
max    98.000000  90000.000000    98.000000