In [1]:
import pandas as pd
import numpy as np

#### Adding columns

In [55]:
data={
    "Name":['Harsh','Dev','Sachin','Harshit','Rahul','Krrish'],
    "Age":[34,65,34,23,98,91],
    "Salary":[10000,15000,25000,67000,45000,90000],
    "Performance":[56,87,23,98,54,23]
}

df=pd.DataFrame(data)
print(df)

#Adding new column in that Data
df["Bonus"]= df['Salary'] * 0.1    # It's come under direct Assisgnment.
print(df)


#Next methoon is insert() method
# df.insert(location, "Column_name", some_data)

df.insert(0, "Employee ID", [34,23,67,12,89,54])
print(df)

      Name  Age  Salary  Performance
0    Harsh   34   10000           56
1      Dev   65   15000           87
2   Sachin   34   25000           23
3  Harshit   23   67000           98
4    Rahul   98   45000           54
5   Krrish   91   90000           23
      Name  Age  Salary  Performance   Bonus
0    Harsh   34   10000           56  1000.0
1      Dev   65   15000           87  1500.0
2   Sachin   34   25000           23  2500.0
3  Harshit   23   67000           98  6700.0
4    Rahul   98   45000           54  4500.0
5   Krrish   91   90000           23  9000.0
   Employee ID     Name  Age  Salary  Performance   Bonus
0           34    Harsh   34   10000           56  1000.0
1           23      Dev   65   15000           87  1500.0
2           67   Sachin   34   25000           23  2500.0
3           12  Harshit   23   67000           98  6700.0
4           89    Rahul   98   45000           54  4500.0
5           54   Krrish   91   90000           23  9000.0

#### Updating values

In [56]:
data={
    "Name":['Harsh','Dev','Sachin','Harshit','Rahul','Krrish'],
    "Age":[34,65,34,23,98,91],
    "Salary":[10000,15000,25000,67000,45000,90000],
    "Performance":[56,87,23,98,54,23]
}

df=pd.DataFrame(data)
print(df)

# .loc[]
# .loc[row_index, "Column Name"]= new_value

df.loc[2, "Age"]= 19
print(df)

# Increase salary by 5%
df["Salary"]= df["Salary"]* 1.05
print(df)

      Name  Age  Salary  Performance
0    Harsh   34   10000           56
1      Dev   65   15000           87
2   Sachin   34   25000           23
3  Harshit   23   67000           98
4    Rahul   98   45000           54
5   Krrish   91   90000           23
      Name  Age  Salary  Performance
0    Harsh   34   10000           56
1      Dev   65   15000           87
2   Sachin   19   25000           23
3  Harshit   23   67000           98
4    Rahul   98   45000           54
5   Krrish   91   90000           23
      Name  Age   Salary  Performance
0    Harsh   34  10500.0           56
1      Dev   65  15750.0           87
2   Sachin   19  26250.0           23
3  Harshit   23  70350.0           98
4    Rahul   98  47250.0           54
5   Krrish   91  94500.0           23

#### Removing Columns

In [57]:
data={
    "Name":['Harsh','Dev','Sachin','Harshit','Rahul','Krrish'],
    "Age":[34,65,34,23,98,91],
    "Salary":[10000,15000,25000,67000,45000,90000],
    "Performance":[56,87,23,98,54,23]
}

df= pd.DataFrame(data)
print(df)

# df.drop(columns = [Column_name], inplace=True)

print("\nModified Data")
df.drop(columns= ['Age'], inplace=True)    # It generally delete entire column
print(df)

      Name  Age  Salary  Performance
0    Harsh   34   10000           56
1      Dev   65   15000           87
2   Sachin   34   25000           23
3  Harshit   23   67000           98
4    Rahul   98   45000           54
5   Krrish   91   90000           23

Modified Data
      Name  Salary  Performance
0    Harsh   10000           56
1      Dev   15000           87
2   Sachin   25000           23
3  Harshit   67000           98
4    Rahul   45000           54
5   Krrish   90000           23

## Handling missing Data

In [58]:
'''

NaN (Not a number)
None (for object Data type)

isnull()
True - NaN is missing
False - value is present
'''

'\n\nNaN (Not a number)\nNone (for object Data type)\n\nisnull()\nTrue - NaN is missing\nFalse - value is present\n'

In [59]:
data={
    "Name":['Harsh',None,'Sachin','Harshit',None,'Krrish'],
    "Age":[34,65,34,23,None,91],
    "Salary":[10000,15000,None,67000,45000,None],
    "Performance":[56,87,None,98,54,23]
}

df= pd.DataFrame(data)
print(df)

print(df.isnull())
print(df.isnull().sum())

      Name   Age   Salary  Performance
0    Harsh  34.0  10000.0         56.0
1     None  65.0  15000.0         87.0
2   Sachin  34.0      NaN          NaN
3  Harshit  23.0  67000.0         98.0
4     None   NaN  45000.0         54.0
5   Krrish  91.0      NaN         23.0
    Name    Age  Salary  Performance
0  False  False   False        False
1   True  False   False        False
2  False  False    True         True
3  False  False   False        False
4   True   True   False        False
5  False  False    True        False
Name           2
Age            1
Salary         2
Performance    1
dtype: int64

#### Handling missing data

In [60]:
data={
    "Name":['Harsh',None,'Sachin','Harshit',None,'Krrish'],
    "Age":[34,65,34,23,None,91],
    "Salary":[10000,15000,None,67000,45000,None],
    "Performance":[56,87,None,98,54,23]
}

df= pd.DataFrame(data)
print(df)

# df.dropna(axis=0, inplace=True)   #axis=0 means deleting rows and axis= 1 means deleting columns
# df.dropna(inplace=True)
# print(df)

# if we have fill any value instead of  deleting that row than we used fillna method
# df.fillna(0, inplace=True)
# df.fillna(0, inplace=True)
# print(df)

df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

      Name   Age   Salary  Performance
0    Harsh  34.0  10000.0         56.0
1     None  65.0  15000.0         87.0
2   Sachin  34.0      NaN          NaN
3  Harshit  23.0  67000.0         98.0
4     None   NaN  45000.0         54.0
5   Krrish  91.0      NaN         23.0
      Name   Age   Salary  Performance
0    Harsh  34.0  10000.0         56.0
1     None  65.0  15000.0         87.0
2   Sachin  34.0      NaN          NaN
3  Harshit  23.0  67000.0         98.0
4     None  49.4  45000.0         54.0
5   Krrish  91.0      NaN         23.0

C:\Users\harsh\AppData\Local\Temp\ipykernel_15816\26030217.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

#### Adding using Data in missing Data

In [61]:
data={
    "Name":['Harsh',None,'Sachin','Harshit',None,'Krrish'],
    "Age":[34,65,34,23,None,91],
    "Salary":[10000,15000,None,67000,45000,None],
    "Performance":[56,87,None,98,54,23]
}

df= pd.DataFrame(data)
print(df)

df.interpolate(method="linear", axis=0, inplace=True)
print(df)

      Name   Age   Salary  Performance
0    Harsh  34.0  10000.0         56.0
1     None  65.0  15000.0         87.0
2   Sachin  34.0      NaN          NaN
3  Harshit  23.0  67000.0         98.0
4     None   NaN  45000.0         54.0
5   Krrish  91.0      NaN         23.0
      Name   Age   Salary  Performance
0    Harsh  34.0  10000.0         56.0
1     None  65.0  15000.0         87.0
2   Sachin  34.0  41000.0         92.5
3  Harshit  23.0  67000.0         98.0
4     None  57.0  45000.0         54.0
5   Krrish  91.0  45000.0         23.0

C:\Users\harsh\AppData\Local\Temp\ipykernel_15816\3373068834.py:11: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method="linear", axis=0, inplace=True)

In [62]:
data={
    "Time":[1,2,3,4,5],
    "Values":[10,None,30,None,50]
    }

df= pd.DataFrame(data)
print("Before interpolate")
print(df)

print("\n After interpolate")
df["Values"]= df["Values"].interpolate(method="linear")
print(df)

Before interpolate
   Time  Values
0     1    10.0
1     2     NaN
2     3    30.0
3     4     NaN
4     5    50.0

 After interpolate
   Time  Values
0     1    10.0
1     2    20.0
2     3    30.0
3     4    40.0
4     5    50.0

## Sorting Data

In [64]:
data={
    "Name": ['Harsh','Dev','Sachin'],
    "Age":[23,54,22],
    "Salary":[10000,12000,15000]
}

df=pd.DataFrame(data)
print("Before Age column sorting")
print(df)

df.sort_values(by="Age", ascending=True, inplace=True)
print("\n After Age column sorting")
print(df)

Before Age column sorting
     Name  Age  Salary
0   Harsh   23   10000
1     Dev   54   12000
2  Sachin   22   15000

 After Age column sorting
     Name  Age  Salary
2  Sachin   22   15000
0   Harsh   23   10000
1     Dev   54   12000

### How to make Groupoid

In [70]:
data={
    "Name": ['Harsh','Dev','Sachin','Rahul','Neelesh'],
    "Age":[23,54,22,23,54],
    "Salary":[10000,12000,15000,25000,20000]
}
df=pd.DataFrame(data)

grouped= df.groupby('Age')["Salary"].sum()
print(grouped)

#For using many columns
multi_group= df.groupby(['Age','Name'])["Salary"].sum()
print(multi_group)

Age
22    15000
23    35000
54    32000
Name: Salary, dtype: int64
Age  Name
22   Sachin     15000
23   Harsh      10000
     Rahul      25000
54   Dev        12000
     Neelesh    20000
Name: Salary, dtype: int64

### Merging & Joining

In [14]:
# pd.merge(df1, df2, on="Column_name", how="type of join")

#Customer dataframe
df_costumers= pd.DataFrame({
    'Costomer_ID': [1,2,3],
    'Name': ['Harsh', 'Atif', 'Purohit']
})

df_orders= pd.DataFrame({
    'Costomer_ID':[1,2,6],
    'Order_Amount':[250,300,450]
})

# Inner merging
df_merged= pd.merge(df_costumers, df_orders, on="Costomer_ID", how="inner")

print("Inner join")
print(df_merged)

#Outer joining
df_merged= pd.merge(df_costumers, df_orders, on="Costomer_ID", how="outer")

print("\nOuter join")
print(df_merged)

#Left joining
df_merged= pd.merge(df_costumers, df_orders, on="Costomer_ID", how="left")

print("\nLeft join")
print(df_merged)

#Right joining
df_merged= pd.merge(df_costumers, df_orders, on="Costomer_ID", how="right")

print("\nRight  join")
print(df_merged)

Inner join
   Costomer_ID   Name  Order_Amount
0            1  Harsh           250
1            2   Atif           300

Outer join
   Costomer_ID     Name  Order_Amount
0            1    Harsh         250.0
1            2     Atif         300.0
2            3  Purohit           NaN
3            6      NaN         450.0

Left join
   Costomer_ID     Name  Order_Amount
0            1    Harsh         250.0
1            2     Atif         300.0
2            3  Purohit           NaN

Right join
   Costomer_ID   Name  Order_Amount
0            1  Harsh           250
1            2   Atif           300
2            6    NaN           450

#### Concentenation

In [ ]:
'''
vertically  (row-wise)
horizontally (column-wise)

pd.concate([df1, df2], axis=0, ignore_inder=True)

axis=0 means combine row wise
'''

In [18]:
df_region1= pd.DataFrame({
    'Costomer_ID': [1,2,3],
    'Name': ['Harsh', 'Atif', 'Purohit']
})

df_region2= pd.DataFrame({
    'Costomer_ID':[4,5,6],
    'Name':['Sachin','Rahul','Neelesh']
})


#Vertically concentation
df_concate= pd.concat([df_region1, df_region2], axis=0, ignore_index=True)
print('Vertically concentation')
print(df_concate)

#Horozontally concentation
df_concate= pd.concat([df_region1, df_region2], axis=1, ignore_index=True)
print('\nHorizontally concentation')
print(df_concate)

Vertically concentation
   Costomer_ID     Name
0            1    Harsh
1            2     Atif
2            3  Purohit
3            4   Sachin
4            5    Rahul
5            6  Neelesh

Horizontally concentation
   0        1  2        3
0  1    Harsh  4   Sachin
1  2     Atif  5    Rahul
2  3  Purohit  6  Neelesh